* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header-wrapper {
  width: 100%;
  height: 10vh;
  padding: 0px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper header {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper header a {
  color: black;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-wrapper header a:hover {
  color: #0a0a0a;
}

.landing {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing h1 {
  font-size: 5vw;
}

.landing .landing-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.landing .landing-buttons button {
  text-align: center;
  background-color: #d72323;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1.3rem;
  font-weight: 700;
  z-index: 50;
  margin-top: 10px;
  -webkit-box-shadow: 3px 5px 13px 1px rgba(37, 37, 37, 0.356);
          box-shadow: 3px 5px 13px 1px rgba(37, 37, 37, 0.356);
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.landing .landing-buttons button:hover {
  -webkit-box-shadow: 5px 8px 13px 1px rgba(37, 37, 37, 0.356);
          box-shadow: 5px 8px 13px 1px rgba(37, 37, 37, 0.356);
  background-color: #df3c3c;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volby-card-deck {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volby-card-deck .card {
  border-radius: 1rem;
  min-width: 300px;
  min-height: 150px;
  border: 4px solid #d72323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 20px 0px;
}
/*# sourceMappingURL=style.css.map */