{% extends('base.html.twig') %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="header-wrapper">
        <div>
            <h1>Volby</h1>
        </div>
        <header>
            <a href="#">Domů</a>
            <a href="#">Výsledky</a>
            <a href="#">O projektu</a>
            <a href="#">Kontakt</a>
        </header>
    </div>

    <main>
        <section class="landing">
            <h1>Výsledky voleb</h1>
            <div class="landing-buttons">
                <button>GitHub</button>
                <button>Jak To funguje</button>
                <a href="/app"><button>Vstup do aplikace</button></a>
            </div>
        </section>
    </main>
{% endblock %}